<ul id="all-list">
    <li class="all-item">
    	<a class="all-go-btn" th:href="@{/account/orders}">
    	全部订单</a>
    </li>
    <li class="all-item">
    	<a class="all-go-btn" th:href="@{/account/password}">
    	修改密码</a>
    </li>
    <li class="all-item">
    	<a class="all-go-btn" th:href="@{/account/changePhone/step1}">
    	修改手机号码</a>
    </li>
    <li class="all-item">
    	<a class="all-go-btn" th:href="@{/account/coupon}">
    	我的优惠券<i th:text="${activeCouponCount}"></i></a>
    </li>
	<li class="all-item">
    	<a class="all-go-btn" th:href="@{/account/addresses}">
    	收货地址</a>
    </li>
    <li class="all-item">
    	<a class="all-go-btn" th:href="@{/account/messages}">
    	我的消息<i th:text="${activeMessageCount}">0</i></a>
    </li>
	<li class="all-item">
		<a class="all-go-btn" th:href="@{/account/service}">
			品荟服务</a>
	</li>
<!--     <li class="all-item"> -->
<!--     	<a class="all-go-btn" th:href="@{/groupOn/myOrders}"> -->
<!--     	我的团购<i th:text="${groupOnCount}">0</i></a> -->
<!--     </li> -->
</ul>