.margin_auto{margin: auto;}
.logo{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #33cc99;
    color:white;
    font-size:1.4em;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius:8px;
}
.logo_word{
    margin-top: 10px;
    width: 170px;
    color: #33cc99;
    font-size:1.3em;
}
.codePicture{
    width: 100px;
    height:100px;
    margin-top: 15px;
    background-color: white;
}
.all_list{
    width: 100%;
    margin: auto;

    background: #fff;
    margin-top: 10px;
    padding: 10px;
}
.all_list li{
    height:33px;
    line-height:33px;
    font-size:1.1em;

}
.all_list li:not(:nth-child(5)){
    border-bottom: solid 1px #c8c7cc;
}

.all-go-btn{
    padding-left: 0px;
}
.all-go-btn:after {
    content: ' ';
    float: right;
    margin-top: 15px;
    border-width: 2px 0 0 2px;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(135deg);
}