<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head th:include="/layout/partials/head (pageTitle='登录 - 品荟')"></head>

<body>
    <div id="notification_bar"></div>
    <header th:substituteby="layout/partials/header(pageTitle='用户登录',type='normal')" />
    
    <div>    
        <div th:substituteby="${templateName}" />
            
    </div>
</body>
</html>