<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head th:include="/layout/partials/head (pageTitle='个人中心 - 品荟 ')"></head>

<body>
	<div id="notification_bar"></div>
	 <header th:substituteby="layout/partials/header(pageTitle='修改密码',type='normal')" />
	<div id="content" class="width_setter group" role="main">
		<div class="manage-account-form-wrapper">
			<nph:form class="manage-account" action="#"
				th:action="@{/account/password}" th:object="${changePasswordForm}"
				method="POST">
				<div class="item">
					<span class="error" th:if="${#fields.hasErrors('currentPassword')}"
						th:errors="*{currentPassword}"></span> <input type="password"
						th:field="*{currentPassword}" maxlength="20" placeholder="请输入旧密码"
						class="txt-input"
						th:classappend="${#fields.hasErrors('currentPassword')}? 'fieldError'" />
				</div>
				<div class="item">
					<span class="error" th:if="${#fields.hasErrors('newPassword')}"
						th:errors="*{newPassword}"></span> <input type="password"
						th:field="*{newPassword}" maxlength="20" placeholder="请输入新密码"
						class="txt-input"
						th:classappend="${#fields.hasErrors('newPassword')}? 'fieldError'" />
				</div>
				<div class="item">
					<span class="error"
						th:if="${#fields.hasErrors('newPasswordConfirm')}"
						th:errors="*{newPasswordConfirm}"></span> <input
						type="password" th:field="*{newPasswordConfirm}"
						maxlength="20" placeholder="请再输入一次新密码" class="txt-input"
						th:classappend="${#fields.hasErrors('newPasswordConfirm')}? 'fieldError'" />
				</div>
				<input type="submit" class="register_button big red" value="确认提交" />
			</nph:form>
		</div>
	</div>

	<footer th:substituteby="layout/partials/footer" />
	<div th:substituteby="layout/partials/divfootermenu" />
</body>
</html>