<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="cn.globalph.batch"/>

    <bean id="stdScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobFactory">
            <bean class="cn.globalph.batch.core.factory.SpringQuartzJobFactory"/>
        </property>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="batchDataSource"/>
    </bean>

    <task:scheduled-tasks scheduler="jobRefreshScheduler">
        <task:scheduled ref="cn.globalph.batch.core.schedule.JobScheduleRefresh" method="refresh" fixed-delay="60000"
                        initial-delay="300000"/>
    </task:scheduled-tasks>

    <task:scheduler id="jobRefreshScheduler" pool-size="10"/>
</beans>