<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
             http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <!-- Scan framework defined web utility classes -->
    <context:component-scan base-package="cn.globalph.b2c.web"/>

    <bean id="blOrderState" class="cn.globalph.b2c.web.order.OrderState" scope="request">
    	<property name="updateSalePriceToRetailPriceIfNone" value="false"/>
    </bean>

    <bean id="orderStateAOP" class="cn.globalph.b2c.web.order.OrderStateAOP"/>

    <aop:config>
        <aop:aspect id="orderStateAspect" ref="orderStateAOP">
            <aop:pointcut id="orderRetrievalMethod" expression="execution(* cn.globalph.b2c.order.dao.OrderDao.readCartForCustomer(cn.globalph.passport.domain.Customer))"/>
            <aop:around method="processOrderRetrieval" pointcut-ref="orderRetrievalMethod"/>
        </aop:aspect>
    </aop:config>
    
    <bean id="blFormProcessor" class="cn.globalph.common.web.processor.FormProcessor" />
    <bean id="blAddSortLinkProcessor" class="cn.globalph.b2c.web.processor.AddSortLinkProcessor" />
    <bean id="blCategoriesProcessor" class="cn.globalph.b2c.web.processor.CategoriesProcessor" />
    <bean id="nphCategorySkuProcessor" class="cn.globalph.b2c.web.processor.CategorySkuProcessor"/>
    <bean id="blGoogleAnalyticsProcessor" class="cn.globalph.b2c.web.processor.GoogleAnalyticsProcessor" />
    <bean id="blHeadProcessor" class="cn.globalph.b2c.web.processor.HeadProcessor" />
    <bean id="blNamedOrderProcessor" class="cn.globalph.b2c.web.processor.NamedOrderProcessor" />
    <bean id="blProductOptionDisplayProcessor" class="cn.globalph.b2c.web.processor.ProductOptionDisplayProcessor" />
    <bean id="blProductOptionValueProcessor" class="cn.globalph.b2c.web.processor.ProductOptionValueProcessor" />
    <bean id="blProductOptionsProcessor" class="cn.globalph.b2c.web.processor.ProductOptionsProcessor" />
    <bean id="blPaginationPageLinkProcessor" class="cn.globalph.b2c.web.processor.PaginationPageLinkProcessor" />
    <bean id="blPaginationSizeLinkProcessor" class="cn.globalph.b2c.web.processor.PaginationSizeLinkProcessor" />
    <bean id="blPaginationSortLinkProcessor" class="cn.globalph.b2c.web.processor.PaginationSortLinkProcessor" />    
    <bean id="blBroadleafCacheProcessor" class="cn.globalph.b2c.web.processor.BroadleafCacheProcessor" />    
    <bean id="blPriceTextDisplayProcessor" class="cn.globalph.b2c.web.processor.PriceTextDisplayProcessor" />
    <bean id="blRatingsProcessor" class="cn.globalph.b2c.web.processor.RatingsProcessor" />
    <bean id="blRelatedProductProcessor" class="cn.globalph.b2c.web.processor.RelatedProductProcessor" />
    <bean id="blRemoveFacetValuesLinkProcessor" class="cn.globalph.b2c.web.processor.RemoveFacetValuesLinkProcessor" />
    <bean id="blToggleFacetLinkProcessor" class="cn.globalph.b2c.web.processor.ToggleFacetLinkProcessor" />
    <bean id="blHeadProcessorExtensionManager" class="cn.globalph.b2c.web.processor.extension.HeadProcessorExtensionManager" />
    <bean id="blOnePageCheckoutProcessor" class="cn.globalph.b2c.web.processor.OnePageCheckoutProcessor"/>
    <bean id="blUncacheableDataProcessor" class="cn.globalph.b2c.web.processor.UncacheableDataProcessor"/>

    <!-- 
    This core globalph dialect should not be extended by implementors. Instead, define your own dialect and 
    add your processors there.
    -->
    <bean id="blDialectProcessors" class="org.springframework.beans.factory.config.SetFactoryBean">
        <property name="sourceSet">
            <set>
                <ref bean="blAddSortLinkProcessor" />
                <ref bean="blCategoriesProcessor" />
                <ref bean="nphCategorySkuProcessor"/>
                <ref bean="blFormProcessor" />
                <ref bean="blGoogleAnalyticsProcessor" />
                <ref bean="blHeadProcessor" />
                <ref bean="blNamedOrderProcessor" />
                <ref bean="blPaginationPageLinkProcessor" />
                <ref bean="blPaginationSizeLinkProcessor" />
                <ref bean="blPaginationSortLinkProcessor" />                
                <ref bean="blBroadleafCacheProcessor" />
                <ref bean="blPriceTextDisplayProcessor" />
                <ref bean="blProductOptionValueProcessor" />
                <ref bean="blProductOptionsProcessor" />
                <ref bean="blProductOptionDisplayProcessor" />
                <ref bean="blRatingsProcessor" />
                <ref bean="blRelatedProductProcessor" />
                <ref bean="blRemoveFacetValuesLinkProcessor" />
                <ref bean="blToggleFacetLinkProcessor" />
                <ref bean="blOnePageCheckoutProcessor" />
                <ref bean="blConfigVariableProcessor" />
                <ref bean="blResourceBundleProcessor" />
                <ref bean="blDataDrivenEnumerationProcessor" />
                <ref bean="blTransparentRedirectCreditCardFormProcessor" />
                <ref bean="blCreditCardTypesProcessor" />
                <ref bean="blUncacheableDataProcessor" />
            </set>
        </property>
    </bean>
    <bean id="blDialect" class="cn.globalph.common.web.dialect.BLCDialect">
        <property name="processors" ref="blDialectProcessors" />
    </bean> 

    <!-- This list factory bean will accept classes that implment the GlobalphVariableExpression interface. -->
    <!-- This provides the ability to inject custom expression evaluators into Thymeleaf. -->
    <bean id="blVariableExpressions" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
                <bean class="cn.globalph.passport.web.core.expression.CustomerVariableExpression"/>
            </list>
        </property>
    </bean>
    
    <bean id="blEmailClasspathTemplateResolver" class="org.thymeleaf.templateresolver.ClassLoaderTemplateResolver">
        <property name="prefix" value="emailTemplates/" />
        <property name="suffix" value=".html"/>
        <property name="templateMode" value="HTML5" />
        <property name="cacheable" value="${cache.page.templates}"/>
        <property name="cacheTTLMs" value="${cache.page.templates.ttl}" />
        <property name="characterEncoding" value="UTF-8" />
    </bean>  
    
    <bean id="thymeleafSpringStandardDialect" class="org.thymeleaf.spring3.dialect.SpringStandardDialect" />
    
    <bean id="blMessageResolver" class="cn.globalph.common.web.BroadleafThymeleafMessageResolver" />

    <bean id="blWebTemplateResolvers" class="org.springframework.beans.factory.config.SetFactoryBean">
        <property name="sourceSet">
            <set>
                <ref bean="blWebDatabaseTemplateResolver" />
                <ref bean="blWebTemplateResolver" />
            </set>
        </property>
    </bean>
    <bean id="blWebDatabaseTemplateResolver" class="org.thymeleaf.templateresolver.TemplateResolver">
        <property name="resourceResolver" ref="blDatabaseResourceResolver" />
        <property name="templateMode" value="HTML5" />
        <property name="characterEncoding" value="UTF-8" />
        <property name="cacheable" value="${cache.page.templates}"/>
        <property name="cacheTTLMs" value="${cache.page.templates.ttl}" />
        <property name="order" value="100"/>         
    </bean>  
    <bean id="blWebTemplateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
        <property name="prefix" value="/WEB-INF/templates/" />
        <property name="suffix" value=".html" />
        <property name="templateMode" value="HTML5" />
        <property name="characterEncoding" value="UTF-8" />
        <property name="cacheable" value="${cache.page.templates}"/>
        <property name="cacheTTLMs" value="${cache.page.templates.ttl}" />
        <property name="order" value="200"/>         
    </bean> 
    
    <bean id="blThymeleafStandardTemplateModeHandlers" class="cn.globalph.common.web.BroadleafThymeleafStandardTemplateModeHandlers" />
    
    <bean id="webTemplateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">
        <property name="messageResolvers">
            <set>
                <ref bean="blMessageResolver" />
                <bean class="org.thymeleaf.spring3.messageresolver.SpringMessageResolver" />
            </set>
        </property>
        <property name="templateResolvers" ref="blWebTemplateResolvers" />
        <property name="templateModeHandlers" value="#{blThymeleafStandardTemplateModeHandlers.standardTemplateModeHandlers}" />
        <property name="dialects">
            <set>
                <ref bean="thymeleafSpringStandardDialect" />
                <ref bean="blDialect" />
            </set>
        </property>
    </bean> 
    
    <bean id="blEmailTemplateResolvers" class="org.springframework.beans.factory.config.SetFactoryBean">
        <property name="sourceSet">
            <set>
                <ref bean="blEmailClasspathTemplateResolver" />                
            </set>
        </property>
    </bean>
    
    <bean id="blEmailTemplateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">
        <property name="templateResolvers" ref="blEmailTemplateResolvers" />
        <property name="dialects">
            <set>
                <ref bean="thymeleafSpringStandardDialect" />
                <ref bean="blDialect" />
            </set>
        </property>
    </bean> 
</beans>
