
<div id="header_content_fixed">
	<div id="header_content_checkout">
		<div style="float:left;width:10%;"><a id="logo" th:href="@{/}"></a></div>
		<div id="checkout_info">

			<table class="checkout_info_left" id="checkout_total_table" cellspacing="10">
				<tr>
					<th>商品总计</th>
					<th>促销折扣</th>
					<th>运费</th>
				</tr>
				<tr>
					<td nph:price="${cart.subTotal}"></td>
					<td class="discount" th:if="${cart.orderAdjustmentsValue.zero}">---</td>
					<td class="discount" th:unless="*{cart.orderAdjustmentsValue.zero}" nph:price="${cart.orderAdjustmentsValue}"></td>
					<td nph:price="${cart.totalFulfillmentCharges}"></td>
				</tr>
			</table>

			<div class="checkout_info_left">

			</div>

			<div class="checkout_info_right">
				<h3>总计</h3>
				<div id="checkout_total" nph:price="${cart.total}"></div>
			</div>

			<div class="clearfix"></div>
		</div>

		
	</div>
</div>