    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title th:unless="${pageTitle == 'TEMPLATE'}" th:text="${#strings.isEmpty(pageTitle) ? '品荟' : pageTitle}"></title>
    
    <title th:if="${pageTitle == 'TEMPLATE'}" th:remove="tag">
        <title th:inline="text" th:include="${templateName} :: title" />
    </title>
    
    <meta name="description" content="品荟" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
