<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head th:include="/layout/partials/head (pageTitle='个人中心 - 品荟 ')">

</head>

<style>
	.bg-border3 {
		display: block;
		margin-top: 3px;
		margin-bottom: 3px;
		height: 2px;
		background: url(/static/img/bg_line3.png) 0 0 repeat-x;
		background-size: 6px 1px;
	}
</style>
<body>
	<div id="notification_bar"></div>
	<header
		th:substituteby="layout/partials/header(pageTitle='收货地址',type='normal')" />

	<div id="content" class="width_setter group" role="main">
		<div class="manage-account-form-wrapper">
			<p class="success" th:if="${successMessage}"
				th:text="${successMessage}"></p>
			<p class="warn" th:if="${errorMessage}"
				th:text="${errorMessage}"></p>
			<p th:if="${#lists.isEmpty(customerAddresses)}" style="text-align:center;padding:50px 0;">您暂时还没有添加任何地址信息</p>
			<div th:unless="${#lists.isEmpty(customerAddresses)}">
				<div class="new-ct">
					<div class="new-addr">
						<ul class="new-mu_l2w">
							<li class="new-mu_l2"
								th:each="customerAddress : ${customerAddresses}">
								<p class="new-tit new-p-re">
									<span class="new-txt" th:text="${customerAddress.receiver}"></span>
									<span class="new-txt-rd2" th:text="${customerAddress.phone}"></span>
									<span th:if="${customerAddress.default}" class="new-txt-rd2 new-option-r">
										<span class="new-icon1"></span>默认地址</span>
								</p>
								<span class="new-mu_l2a new-p-re">
									<span class="new-mu_l2cw"
										  th:text="${customerAddress.province+customerAddress.city+customerAddress.district+customerAddress.community+customerAddress.address}"></span>
								<div th:if="${orderAddress}" class="bg-border3"></div>
									<div class="new-addr-btn">
										<a th:if="${orderAddress}"
										   th:href="@{'/checkout/orderAddress'(addressId=${customerAddress.id})}"
										   name="selSpan" id="selSpan137669672" class="btn-chk on"
										   style="float:left;width:120px;"><span class="new-abtn-type2">送到此地址</span></a>
										<a th:if="${orderAddress}"
										   th:href="@{'/account/addresses/'+${customerAddress.id}('orderAddress=true')}">编辑</a>
										<a th:unless="${orderAddress}"
										   th:href="@{'/account/addresses/'+${customerAddress.id}}">编辑</a>
										<span class="new-addr-bar">| </span>
										<a th:if="${orderAddress}"
										   th:href="@{'/account/addresses/'+${customerAddress.id}+'/delete'('orderAddress=true')}">删除</a>
										<a th:unless="${orderAddress}"
										   th:href="@{'/account/addresses/'+${customerAddress.id}+'/delete'}">删除</a>
									</div>
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div style="width:80%;text-align: center;margin:auto;">
			<a th:if="${orderAddress}" th:href="@{/account/addresses/add('orderAddress=true')}"
			   class="new-abtn-type new-mg-tb30">添加新地址</a>
			<a th:unless="${orderAddress}" th:href="@{/account/addresses/add}"
			   class="new-abtn-type new-mg-tb30">添加新地址</a>
			</div>
		</div>
	</div>

	<footer th:substituteby="layout/partials/footer" />
	<div th:substituteby="layout/partials/divfootermenu" />
</body>
</html>