<div>
	<div id="notEmptyCart" style="display: block">
		<ul class="shp-cart-list">
				<li th:each="item : ${cart.orderItems}" th:object="${item}" th:id="${'productRow' + item.id}">
				<div class="items">
					<div class="check-wrapper">
						<a th:href="@{/cart/unuse(orderItemId=*{id}, skuId=*{sku.id})}" th:if="${item.used}">
							<span class="cart-checkbox checked"></span>
						</a>
						<a th:href="@{/cart/add(orderItemId=*{id}, skuId=*{sku.id}, quantity=0)}" th:unless="${item.used}">
							<span class="cart-checkbox"></span>
						</a>
					</div>
					<div class="shp-cart-item-core ">
						<div class="cart-product-cell-3">
							<span class="shp-cart-item-price" id="price1360822850" nph:price="*{getPriceBeforeAdjustments(true)}">￥99.00</span>
						</div>
						<a class="cart-product-cell-1"
							th:href="@{*{sku.product.url} + '/' + *{sku.id}}">
							<img class="cart-photo-thumb" th:if="*{sku.skuMedia['primary']}"
								th:src="@{*{sku.skuMedia['primary'].url} + '?thumbnail'}"
								th:alt="*{sku.name}" />

						</a>
						<div class="cart-product-cell-2">
							<div class="cart-product-name">
								<a th:href="@{*{sku.product.url} + '/' + *{sku.id}}">
									<span th:text="*{sku.name}"></span>
								</a>
							</div>
							<div class="shp-cart-opt">
								<div class="quantity-wrapper">
								<nph:form method="POST" th:action="@{/cart/updateQuantity}">
									<span class="quantity-decrease">-</span> 
									<input type="hidden" name="skuId" th:value="*{sku.id}" />
									<input type="hidden" name="orderItemId" th:value="*{id}" />
									<input type="text" size="4" value="2" name="quantity" 
												class="quantity" th:value="*{quantity}" /> 
									<span class="quantity-increase">+</span>
								</nph:form>
								</div>
								<a class="shp-cart-icon-remove"
									th:href="@{/cart/remove(orderItemId=*{id}, skuId=*{sku.id})}"></a>
							</div>
						</div>
					</div>

					<div class="diver-hr-dashed"></div>
					<div class="shp-cart-gift-list" th:unless="*{adjustmentValue.zero}">
						<div>
							<a
								href="http://m.jd.com/product/1584341168.html?sid=2386796078a8a74aeab7b696950bcfe7"
								class="shp-cart-gift-list"> [赠品] 高尔夫GOLF
								高档钱包礼盒礼品盒【送礼体面过人】请不要单独购买请不要单独下单 黑色 </a>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<!--<div class="tips tips-save-money" id="pay-tip">会员满59免运费</div>-->
	</div>
	<!-- 	<div class="cart_item" style="margin-left:40px;" th:each="item : ${cart.orderItems}" -->
	<!-- 		th:object="${item}" th:id="${'productRow' + item.id}"> -->
	<!-- 		<div class="check-wrapper"> -->
	<!-- 			<a th:href="@{/cart/unuse(orderItemId=*{id}, skuId=*{sku.id})}" th:if="${item.used}"> -->
	<!-- 				<span class="cart-checkbox checked"></span> -->
	<!-- 			</a> -->
	<!-- 			<a th:href="@{/cart/add(orderItemId=*{id}, skuId=*{sku.id}, quantity=0)}" th:unless="${item.used}"> -->
	<!-- 				<span class="cart-checkbox"></span> -->
	<!-- 			</a> -->
	<!-- 		</div> -->
	<!-- 		<div class="cart_item_left"> -->
	<!-- 			<a th:href="@{*{sku.product.url} + '/' + *{sku.id}}"> <img -->
	<!-- 				th:if="*{sku.skuMedia['primary']}" -->
	<!-- 				th:src="@{*{sku.skuMedia['primary'].url} + '?thumbnail'}" width="60" -->
	<!-- 				th:alt="*{sku.name}" /> -->
	<!-- 			</a> -->
	<!-- 		</div> -->
	<!-- 		<div class="cart_item_right_top"> -->
	<!-- 			<a th:href="@{*{sku.product.url} + '/' + *{sku.id}}" -->
	<!-- 				th:text="*{sku.name}"></a> -->
	<!-- 		</div> -->

	<!-- 		<div class="cart_item_right_bottom"> -->
	<!-- 			<div class="price_before_adj" -->
	<!-- 				nph:price="*{getPriceBeforeAdjustments(true)}"></div> -->
	<!-- 			<div class="update_quantity"> -->
	<!-- 				<nph:form method="POST" th:action="@{/cart/updateQuantity}"> -->
	<!-- 					<span class="spinner-down">-</span> -->
	<!-- 					<input type="text" maxlength="2" name="quantity" -->
	<!-- 						class="quantityInput" th:value="*{quantity}" /> -->
	<!-- 					<span class="spinner-up">+</span> -->

	<!-- 					<input type="hidden" name="skuId" th:value="*{sku.id}" /> -->
	<!-- 					<input type="hidden" name="orderItemId" th:value="*{id}" /> -->
	<!-- 					<a class="cartLinkBtn remove_from_cart" -->
	<!-- 						th:href="@{/cart/remove(orderItemId=*{id}, skuId=*{sku.id})}"> -->
	<!-- 						<img src="/static/img/cart-del.png" /> -->
	<!-- 					</a> -->
	<!-- 				</nph:form> -->
	<!-- 			</div> -->

	<!-- 		</div> -->

	<!-- 		<div class="clearfix" /> -->

	<!-- 		<div class="discount" th:unless="*{adjustmentValue.zero}"> -->
	<!-- 			<div class="productOptions" -->
	<!-- 				th:substituteby="catalog/partials/offers :: offers" /> -->
	<!-- 			<span>优惠金额：</span><span nph:price="*{totalAdjustmentValue}"></span> -->
	<!-- 		</div> -->
	<!-- 	</div> -->
</div>