<!DOCTYPE HTML>
<html class="no-js" lang="zh">
<head th:substituteby="layout/partials/head" />
<body class="off-canvas">
    <div class="container">
        <header th:substituteby="layout/partials/header" />
        <div class="content row">
            <section role="main" th:substituteby="${templateName}"></section>
            <section role="complementary" th:substituteby="layout/partials/leftNav"></section>
        </div>
    </div>
    <footer th:substituteby="layout/partials/footer" />
</body>
</html>