<!DOCTYPE HTML>
<html class="no-js" lang="zh">
<head th:include="layout/partials/head"/>
<body class="off-canvas">
<div class="container">
    <div class="basic-form">
        <div class="logo">
            <img src="/static/img/admin/blc-logo-150.png" />
        </div>
        <div class="clear"></div>
        <div id="messages" th:include="${templateName}::messages" />
        <div id="js-warning" th:text="#{admin.login.requiresJs}" onload="" />
        <div id="js-visible" style="display: none;">
            <div th:substituteby="${templateName}::form" />
            <div id="options" class="basic-links" th:include="${templateName}::options" />
        </div>
        <script type="text/javascript">
            // Act on this immediately to prevent the flash of unrendered content.
            document.getElementById('js-warning').setAttribute('style', 'display: none;');
            document.getElementById('js-visible').setAttribute('style', 'display: block;');
        </script>
    </div>
</div>
<footer th:substituteby="layout/partials/footer" />
</body>
</html>