<div class="product-options hidden" th:fragment="productOptions">
    <nph:product_options productId="${sku.product.id}" />
    <div id="product-option-data" hidden="hidden" th:attr="data-product-option-pricing=${skuPricing}, data-product-options=${allProductOptions},data-current-sku=${sku.id}" />
    <ul>
        <li th:each="productOption : *{product.productOptions}" th:object="${productOption}" class="product-option-group cf" th:classappend="*{type.type == 'COLOR'}? 'colors'">
            <span th:text="*{label+'：'}" style="float:left;"></span>
             <ul class="cf" th:switch="*{type.type}">
                <li th:case="'TEXT'">
                    <input th:name="${'itemAttributes[' + attributeName + ']'}" value="" th:type="*{type}" th:required="*{required}" maxlength="255" />
                </li>
                <li th:case="'TEXTAREA'">
                    <textarea th:name="${'itemAttributes[' + attributeName + ']'}" value="" th:type="*{type}" th:required="*{required}" />
                </li>
                <li th:case="'DECIMAL'">
                    <input th:name="${'itemAttributes[' + attributeName + ']'}" value="" th:type="*{type}" th:required="*{required}" maxlength="10" />
                </li>
                <li th:case="*" th:remove="tag">
                    <li th:each="optionValue : *{allowedValues}" nph:product_option_value="${optionValue}" th:object="${optionValue}" th:classappend="${productOption.type.type == 'COLOR'}? ${optionValue.attributeValue}" >
                        <div>
                            <span th:text="*{attributeValue}"></span> 
                        </div>
                    </li>
                </li>
            </ul>       
        </li>
    </ul>
    <span class="productOptionsSpan centered" style="display: none;"><span th:text="#{product.productOptionValidationError}">Product Option Validation Failed</span></span>
    <span class="error centered" style="display: none;"><span th:text="#{product.allOptionsRequired}">All options are required</span></span>
    <span class="error errorMessage" style="display: none;"></span>
</div>
