
<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head th:include="/layout/partials/head (pageTitle='找回密码成功')"></head>

<body>
    <div id="notification_bar"></div>
    <header th:substituteby="layout/partials/header(pageTitle='找回密码成功',type='normal')" />
    <div id="content" class="width_setter group" role="main">     
        <div id="account">  
		    <div style="display:none;" th:fragment="title" th:inline="text">Forgot Password Success - Broadleaf Demo - Heat Clinic</div>
		    
		    <div id="forgotPasswordSuccess">
		        <p>邮件已发送，请登录您的邮箱重置密码</p>
		    </div>
		</div>     
    </div>
    
    <footer th:substituteby="layout/partials/footer" />
    
</body>
</html>