<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head th:include="/layout/partials/head (pageTitle='重置密码')"></head>

<body>
	<div id="notification_bar"></div>
	<header
		th:substituteby="layout/partials/header(pageTitle='重置密码',type='normal')" />
	<div id="account">
		<div id="resetPasswordByphone">
			<nph:form id="registrationForm" th:object="${resetPasswordForm}" th:action="@{/login/resetPasswordByPhone}"
				method="post" class="clearfix">
				
				<div class="item">
					<span id="errorTips" style="font-size:14px;color:#E40037;" th:text="${errorCode}"></span>
				</div>
				<div class="item">
					<div id="phone" class="item-phone">
						<span class="error" th:if="${#fields.hasErrors('username')}"
							th:errors="*{username}"></span> <input type="text"
							th:field="*{username}" class="txt-input"
							placeholder="请输入手机号码"
							maxlength="11"
							required="true"
							th:classappend="${#fields.hasErrors('username')}? 'fieldError'" />
					</div>
					<div id="btnResend" class="vc-btn">获取短信验证码</div>
				</div>
				<div class="item">
					<span class="error"
						th:if="${#fields.hasErrors('validationCode')}"
						th:errors="*{validationCode}"></span> <input type="text"
						maxlength="6" th:field="*{validationCode}" required="true"
						placeholder="请输入短信验证码" class="txt-input"
						th:classappend="${#fields.hasErrors('validationCode')}? 'fieldError'" />
				</div>
				<div class="item">
					<span class="error" th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}"></span> <input type="password"
						maxlength="20" th:field="*{password}" placeholder="请输入新密码"
						class="txt-input" required="true"
						th:classappend="${#fields.hasErrors('password')}? 'fieldError'" />
				</div>
				<div class="item">
					<span class="error" th:if="${#fields.hasErrors('passwordConfirm')}"
						th:errors="*{passwordConfirm}"></span> <input type="password"
						maxlength="20" th:field="*{passwordConfirm}" placeholder="请再次输入新密码"
						class="txt-input" required="true"
						th:classappend="${#fields.hasErrors('passwordConfirm')}? 'fieldError'" />
				</div>

				<div class="login_register">
					<input class="register_button big red" type="submit" value="确认提交" />
				</div>
			</nph:form>
		</div>
	</div>
	<script src="/static/js/lib/jquery-1.9.1.js" />
	<script th:src="@{/static/js/PH.js}" />
	<script>
		if($.trim($("#phone input").val()) == ""){
			$("#btnResend").addClass("btnResend-disabled");
		}else{
			$("#btnResend").addClass("btnResend-enabled");
		}
		
		$("#phone input").on("keyup", function(){
			if($(this).val() == ""){
				$("#btnResend").removeClass("btnResend-enabled");
				$("#btnResend").addClass("btnResend-disabled");
			}else{
				$("#btnResend").addClass("btnResend-enabled");
				$("#btnResend").removeClass("btnResend-disabled");
			}
		})
		
		$("#btnResend").on("click", function() {
			$("#errorTips").text("");
			if($(this).hasClass("btnResend-enabled")){
				var mob = $.trim($("#phone input").val());
		
				// 前端js验证手机号码不能为空
				if (mob == "") {
					$("#errorTips").text("手机号码不能为空");
					return;
				}
				// 前端js验证手机号码格式
				var reg = /^1[3|4|5|7|8]\d{9}$/;
				if (!reg.test(mob)) {
					$("#errorTips").text("手机号码格式错误，请重新输入")
					return;
				}
				
				// 获取短信验证码				
				BLC.ajax({
						url : "/sms/forgetPassword/" + mob,
						type : "POST",
						dataType : "json"
					}, 
					function(data) {
						if (data.success) {
							$("#btnResend").removeClass("btnResend-enabled");
							$("#btnResend").addClass("btnResend-disabled");
					 		var start = 120;
							$("#btnResend").text("重新发送(" + start + ")");
							function timer(){
								start--;
								if(start == -1){
									clearInterval(interval);
									$("#btnResend").text("获取短信验证码");
									$("#btnResend").addClass("btnResend-enabled");
									$("#btnResend").removeClass("btnResend-disabled");
								}else{
									$("#btnResend").text("重新发送(" + start + ")");
								}
							}
							var interval = setInterval(timer,1000);
						}
						if (data.error) {
							$("#errorTips").text(data.error);
						}
					}
				);
				
			}
		})
	</script>
	<footer th:substituteby="layout/partials/bottom" />
</body>
</html>
