<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head th:include="/layout/partials/head (pageTitle='重置密码')"></head>

<body>
	<div id="notification_bar"></div>
	<header th:substituteby="layout/partials/header(pageTitle='重置密码',type='normal')" />

	<div id="content" class="width_setter group" role="main">
		<div id="account">
			<div style="display: none;" th:fragment="title" th:inline="text">重置密码
				- 品荟</div>

			<div id="resetPassword">
				<nph:form id="resetPasswordForm" th:object="${resetPasswordForm}"
					th:action="@{/login/resetPassword}" method="post" class="clearfix">
					<input type="hidden" th:field="*{token}" />
					<div class="item">
						<span class="error" th:if="${#fields.hasErrors('username')}"
							th:errors="*{username}"></span> <input type="email"
							th:field="*{username}" maxlength="20" placeholder="请输入邮箱地址"
							class="txt-input"
							th:classappend="${#fields.hasErrors('username')}? 'fieldError'" />
					</div>
					<div class="item">
						<span class="error" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}"></span> <input type="password"
							th:field="*{password}" maxlength="20" placeholder="请输入密码"
							class="txt-input"
							th:classappend="${#fields.hasErrors('password')}? 'fieldError'" />
					</div>
					<div class="item">
						<span class="error"
							th:if="${#fields.hasErrors('passwordConfirm')}"
							th:errors="*{passwordComfirm}"></span> <input type="password"
							th:field="*{passwordConfirm}" maxlength="20"
							placeholder="请输入确认密码" class="txt-input"
							th:classappend="${#fields.hasErrors('passwordConfirm')}? 'fieldError'" />
					</div>
					<div class="login_register">
						<input class="register_button big red" type="submit"
							value="修改密码" />
					</div>
				</nph:form>
			</div>
		</div>
	</div>
	<footer th:substituteby="layout/partials/footer" />
</body>
</html>