<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head th:include="/layout/partials/head (pageTitle='您的评论  - 品荟')"></head>
<nph:bundle name="style.css" mapping-prefix="/static/css/" files="comments.css"/>

<body>
	<div id="notification_bar"></div>

	<header
		th:substituteby="layout/partials/header(pageTitle='您的评论',type='normal')" />
	<div id="review" style="padding:10px 10px;">
		<div th:if="${view}" th:object="${reviewForm}">
			<div class="rate-product">
				<label>评分</label> 
				<span class="mu-star">
					<span class="mu-starv" th:classappend="${'star-width' + #strings.substring(reviewForm.rating,0,1)}"></span>
				</span>
			</div>
			<div class="clearfix"></div>
			<div class="form100">
				<label for="reviewText">评价内容</label> 
				<textarea type="text" th:field="*{reviewText}" class="field100"
					rows="6" readonly="readonly"></textarea>
			</div>
		</div>
		
		<nph:form th:unless="${view}" action="#" th:object="${reviewForm}"
			th:action="@{'/reviews/orderItem/' + *{orderItemId}}" method="post">
			<div class="rate-product">
				<label>评分</label> 
				<input type="hidden" class="star" name="rating" th:value="*{rating}" />
				<span class="cm-star">
					<span id="star1" class="cm-starv star-width1"></span>
					<span id="star2" class="cm-starv star-width2"></span>
					<span id="star3" class="cm-starv star-width3"></span>
					<span id="star4" class="cm-starv star-width4"></span>
					<span id="star5" class="cm-starv star-width5"></span>
				</span>
			</div>
			<span class="error" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></span>
			
			<div class="clearfix"></div>
			<div class="form100">
				<label for="reviewText">评价内容</label> 
				<textarea type="text" maxlength="255" th:field="*{reviewText}" class="field100"
					rows="6"></textarea>
				<span class="error" th:if="${#fields.hasErrors('reviewText')}" th:errors="*{reviewText}"></span>
			</div>
			<div class="login_register">
				<input class="review_button big red" type="submit" value="提交评价" />
			</div>
		</nph:form>
	</div>
	<script th:src="@{/static/js/lib/jquery-1.9.1.js}" />
	<script>
	/*<![CDATA[*/
	    $(function(){
			function star(n){
				$(".cm-star .cm-starv").removeClass("starv-active");
				$("#star" + n).addClass("starv-active");
				for(var i = 1; i <= n; i++){
					$("#star" + i).addClass("starv-active");
				}
				$(".star").val(n + ".0");
			};
			
			var v = $(".star").val();
			if(v != ""){
				v = parseInt(v);
				star(v);
			}
			$(".cm-starv").on("mouseover",function(){
				var id = $(this).attr("id").substr(4, 5);
				star(id);
			});
	    })	
		/*]]>*/
	</script>
</body>
</html>