<div class="manage-account-form-wrapper">

    <p class="success" th:if="${successMessage}" th:text="${successMessage}"></p>
    
    <h2>修改帐号信息</h2>
        <nph:form class="manage-account" action="#" th:action="@{/account}" th:object="${updateAccountForm}" method="POST" style="width: 400px;">
        <div class="form100">
            <label for="name">姓名:</label>
            <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <input type="text" name="name" id="name" th:field="*{name}" class="field50" th:classappend="${#fields.hasErrors('name')}? 'fieldError'"/>
        </div>
        <div class="form100">
            <label for="emailAddress">电子邮件:</label>
            <span class="error" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></span>
            <input type="email" name="emailAddress" id="emailAddress" th:field="*{emailAddress}" class="field50" th:classappend="${#fields.hasErrors('emailAddress')}? 'fieldError'"/>
        </div>
        <div class="form100">
            <label for="phone">手机:</label>
            <span class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
            <input type="text" name="phone" id="phone" th:field="*{phone}" class="field50" th:classappend="${#fields.hasErrors('phone')}? 'fieldError'"/>
        </div>
        <input type="submit" class="medium red" value="Submit" />
    </nph:form>
</div>