<div class="headNav">
  <div class="navCon w1020">
    <div class="navCon-cate fl navCon_on">
      <div class="navCon-cate-title"> <a href="http://www.globalph.cn">全部水果分类
	  <b></b>
	  </a>
	  </div>
      <div class="cateMenu hide">
        <ul>
          <li style="border-top: none;">
            <div class="cate-tag"> <strong><a href="/apple">苹果</a></strong>
              <div class="listModel">
                <p> 
                	<a href="/apple?breed=%E7%BA%A2%E5%AF%8C%E5%A3%AB%28%E9%95%BF%E5%AF%8C%29">红富士(长富)</a> 
                	<a href="/apple?breed=%E9%98%BF%E5%85%8B%E8%8B%8F%E5%86%B0%E7%B3%96%E5%BF%83">秦冠</a> 
                </p>
              </div>
            </div>
            <div class="list-item hide">
              <ul class="itemleft">
                <dl>
                  <dt>品种</dt>
                  <dd> 
                  	<a href="/apple?breed=%E7%BA%A2%E5%AF%8C%E5%A3%AB%28%E9%95%BF%E5%AF%8C%29">红富士(长富)</a> 
                	<a href="/apple?breed=%E7%BA%A2%E5%AF%8C%E5%A3%AB%28%E7%9F%AD%E5%AF%8C%29">红富士(短富)</a> 
                	<a href="/apple?breed=%E7%A7%A6%E5%86%A0">秦冠</a>
                  </dd>
                </dl>
                <div class="fn-clear"></div>
                <dl>
                  <dt>产地</dt>
                  <dd> 
                  	<a href="/apple?mfg=%E9%99%95%E8%A5%BF%E5%B9%B3%E5%8E%9F">陕西关中平原</a> 
                  	<a href="/apple?mfg=%E9%99%95%E8%A5%BF%E9%AB%98%E5%8E%9F">陕西黄土高原</a> 
                  	<a href="/apple?mfg=%E5%B1%B1%E4%B8%9C%E7%83%9F%E5%8F%B0">山东烟台</a> 
                  	<a href="/apple?mfg=%E6%96%B0%E7%96%86%E9%98%BF%E5%85%8B%E8%8B%8F">新疆阿克苏</a>
                  	<a href="/apple?mfg=%E6%B1%9F%E8%8B%8F%E4%B8%B0%E5%8E%BF">江苏丰县</a>
                  </dd>
                </dl>
                <div class="fn-clear"></div>
                <dl>
                  <dt>品种-产地</dt>
                  <dd> 
                  	<a href="/apple?breed=%E7%BA%A2%E5%AF%8C%E5%A3%AB%28%E9%95%BF%E5%AF%8C%29&amp;mfg=%E9%99%95%E8%A5%BF%E5%B9%B3%E5%8E%9F">红富士(长富)-陕西关中平原</a> 
                  	<a href="/apple?breed=%E7%BA%A2%E5%AF%8C%E5%A3%AB%28%E9%95%BF%E5%AF%8C%29&amp;mfg=%E9%99%95%E8%A5%BF%E9%AB%98%E5%8E%9F">红富士(长富)-陕西黄土高原</a> 
                  	<a href="/apple?breed=%E7%BA%A2%E5%AF%8C%E5%A3%AB%28%E7%9F%AD%E5%AF%8C%29&amp;mfg=%E9%99%95%E8%A5%BF%E9%AB%98%E5%8E%9F">红富士(短富)-陕西关中平</a> 
                  	<a href="/apple?breed=%E7%BA%A2%E5%AF%8C%E5%A3%AB%28%E7%9F%AD%E5%AF%8C%29&amp;mfg=%E9%99%95%E8%A5%BF%E9%AB%98%E5%8E%9F">红富士(短富)-陕西黄土高原</a>
                  	<a href="/apple?breed=%E7%A7%A6%E5%86%A0&amp;mfg=%E9%99%95%E8%A5%BF%E9%AB%98%E5%8E%9F">秦冠-陕西黄土高原</a>
                  </dd>
                </dl>
                <div class="fn-clear"></div>
              </ul>
              <ul class="itemright">
                <dl>
                  <dt>促销活动</dt>
                </dl>
                <div class="news-list">
                  <p> <span class="red">红富士(长富)[陕西黄土高原][膜袋][特级]- 30斤/箱</span> <a href="/apple/sxgy/hongfushi-changfu/modai/0/4">春节特价促销,回馈我们用户</a> </p>
                  <p> <span class="red">红富士(长富)[陕西关中平原][膜袋][特级]- 30斤/箱</span> <a href="/apple/sxpy/hongfushi-changfu/modai/0/12">特级红富士，促销一天</a> </p>
                  <p> <span class="red">秦冠[陕西高原][光果][特级]- 30/箱</span> <a href="/apple/sxgy/qinguan-guangguo/0/100">特级秦冠，低价促销</a> </p>
                </div>
                <dl>
                  <dt>促销水果</dt>
                </dl>
                <div class="ad-list mt10"> 
	                <a href="/apple"><img src='/static/img/offer/1.jpg' width='210' height='100'/></a> 
	                <a href="/apple"><img src='/static/img/offer/2.jpg' width='210' height='100'/></a> 
                </div>
              </ul>
            </div>
          </li>
          <li >
            <div class="cate-tag"><strong><a href="http://www.globalph.cn/pear">梨</a></strong>
              <div class="listModel">
                <p>
                	<a href="/pear?breed=%E7%A0%80%E5%B1%B1%E9%85%A5%E6%A2%A8">砀山酥梨</a> 
                	<a href="/pear?breed=%E4%BA%AC%E7%99%BD%E6%A2%A8">京白梨</a> 
                </p>
              </div>
            </div>
            <div class="list-item hide">
              <ul class="itemleft">
                <dl>
                  <dt>品种</dt>
                  <dd> 
                  	<a href="/pear?breed=%E7%A0%80%E5%B1%B1%E9%85%A5%E6%A2%A8">砀山酥梨</a> 
                  	<a href="/pear?breed=%E4%BA%AC%E7%99%BD%E6%A2%A8">京白梨</a> 
                  </dd>
                </dl>
                <div class="fn-clear"></div>
                <dl>
                  <dt>产地</dt>
                  <dd> 
                  	<a href="/pear?mfg=%E9%99%95%E8%A5%BF%E5%B9%B3%E5%8E%9F">陕西关中平原</a> 
                  	<a href="/pear?mfg=%E7%A0%80%E5%B1%B1">砀山</a> 
                  </dd>
                </dl>
                <div class="fn-clear"></div>
                <dl>
                  <dt>品种-产地</dt>
                  <dd> 
                  	<a href="/pear?breed=%E7%A0%80%E5%B1%B1%E9%85%A5%E6%A2%A8&amp;mfg=%E9%99%95%E8%A5%BF%E5%B9%B3%E5%8E%9F">砀山酥梨-陕西关中平原</a> 
                  	<a href="/pear?breed=%E7%A0%80%E5%B1%B1%E9%85%A5%E6%A2%A8&amp;mfg=%E7%A0%80%E5%B1%B1">砀山酥梨-砀山</a> 
                  </dd>
                </dl>
                <div class="fn-clear"></div>
              </ul>
              <ul class="itemright">
                <dl>
                  <dt>促销活动</dt>
                </dl>
                <div class="news-list">
                  <p> <span class="red">元旦促销</span><a href="/">元旦促销</a></p>
                  <p> <span class="red">春节促销</span><a href="/">元旦促销</a></p>
                </div>
                <dl><dt>促销水果</dt></dl>
                <div class="ad-list mt10"> 
                	<a href="/pear"><img src='/static/img/offer/1.jpg' width='210' height='100'/></a> 
	                <a href="/pear"><img src='/static/img/offer/2.jpg' width='210' height='100'/></a> 
                </div>
              </ul>
            </div>
          </li>
          <li>
            <div class="cate-tag"><strong><a href="/hongti">提子</a></strong>
              <div class="listModel">
                <p>
                   <a href="/hongti?breed=%E7%BA%A2%E6%8F%90">红提</a>
                   <a href="/hongti?breed=%E7%BE%8E%E4%BA%BA%E6%8C%87">美人指</a> 
                </p>
              </div>
            </div>
            <div class="list-item hide">
              <ul class="itemleft">
                <dl>
                  <dt>品种</dt>
                  <dd>
                  	<a href="/hongti?breed=%E7%BA%A2%E6%8F%90">红提</a>
                   	<a href="/hongti?breed=%E7%BE%8E%E4%BA%BA%E6%8C%87">美人指</a> 
                  </dd>
                </dl>
                <div class="fn-clear"></div>
                <dl>
                  <dt>产地</dt>
                  <dd> 
                  	<a href="/hongti?mfg=%E9%99%95%E8%A5%BF%E5%B9%B3%E5%8E%9F">陕西关中平原</a> 
                  	<a href="/hongti?mfg=%E9%99%95%E8%A5%BF%E9%AB%98%E5%8E%9F">陕西黄土高原</a> 
                  	<a href="/hongti?mfg=%E5%B1%B1%E4%B8%9C%E7%83%9F%E5%8F%B0">山东烟台</a> 
                  </dd>
                </dl>
                <div class="fn-clear"></div>
              </ul>
              <ul class="itemright">
                <dl>
                  <dt>促销活动</dt>
                </dl>
                <div class="news-list">
                  <p> <span class="red">春节促销</span><a href="/hongti">新年促销，真情回馈</a> </p>
                </div>
                <dl>
                  <dt>促销水果</dt>
                </dl>
                <div class="ad-list mt10">
                	<a href="http://www.qianxunsucai.com"><img src='/static/img/offer/1.jpg' width='210' height='100' /></a> 
                	<a href="http://www.qianxunsucai.com"><img src='/static/img/offer/2.jpg' width='210' height='100' /></a> 
                </div>
              </ul>
            </div>
          </li>
          <li>
            <div class="cate-tag"><strong><a href="/grape">葡萄</a></strong>
              <div class="listModel">
                <p> 
                  <a href="/grape?breed=%E5%B7%A8%E4%B8%B0">巨丰</a> 
                  <a href="/grape?breed=%E6%88%B7%E5%A4%AA">户太</a> 
                </p>
              </div>
            </div>
            <div class="list-item hide">
              <ul class="itemleft">
                <dl>
                  <dt>品种</dt>
                  <dd> 
                  	<a href="/grape?breed=%E5%B7%A8%E4%B8%B0">巨丰</a> 
                  	<a href="/grape?breed=%E6%88%B7%E5%A4%AA">户太</a> 
                  	<a href="/grape?breed=%E4%B9%92%E4%B9%93">乒乓</a> 
                  </dd>
                </dl>
                <div class="fn-clear"></div>
                <dl>
                  <dt>产地</dt>
                  <dd> 
                  	<a href="/grape?mfg=%E9%99%95%E8%A5%BF%E5%B9%B3%E5%8E%9F">陕西平原</a> 
                  	<a href="/grape?mfg=%E9%99%95%E8%A5%BF%E9%AB%98%E5%8E%9F">陕西高原</a> 
                  	<a href="/grape?mfg=%E5%B1%B1%E4%B8%9C%E6%BD%8D%E5%9D%8A">山东潍坊</a> 
                  	<a href="/grape?mfg=%E5%B1%B1%E4%B8%9C%E7%83%9F%E5%8F%B0">山东烟台</a> 
                  	<a href="/grape?mfg=%E6%B5%99%E6%B1%9F%E6%B9%96%E5%B7%9E">浙江湖州</a> 
                  	<a href="/grape?mfg=%E6%B1%9F%E8%8B%8F%E5%8C%97%E9%83%A8">江苏北部</a> 
                  </dd>
                </dl>
                <div class="fn-clear"></div>
              </ul>
              <ul class="itemright">
                <dl>
                  <dt>促销水果</dt>
                </dl>
                <div class="ad-list mt10"> 
                	<a href="/grape"><img src='/static/img/offer/1.jpg' width='210' height='100'/></a> 
                	<a href="/grape"><img src='/static/img/offer/2.jpg' width='210' height='100'/></a> 
                </div>
              </ul>
            </div>
          </li>
          <li>
            <div class="cate-tag"><strong><a href="/peach">桃子</a></strong>
              <div class="listModel">
                <p>
                	<a href="/peach?breed=%E6%B2%B9%E6%A1%83">油桃</a> 
                	<a href="/peach?breed=%E6%B0%B4%E8%9C%9C%E6%A1%83">水蜜桃</a> 
                </p>
              </div>
            </div>
            <div class="list-item hide">
              <ul class="itemleft">
                <dl>
                  <dt>品种</dt>
                  <dd>
                  	<a href="/peach?breed=%E6%B2%B9%E6%A1%83">油桃</a> 
                  	<a href="/peach?breed=%E6%B0%B4%E8%9C%9C%E6%A1%83">水蜜桃套</a> 
                  	<a href="/peach?breed=%E9%BB%84%E6%A1%83">黄桃</a> 
                  </dd>
                </dl>
                <div class="fn-clear"></div>
              </ul>
              <ul class="itemright">
                <dl>
                  <dt>促销水果</dt>
                </dl>
                <div class="ad-list mt10"> 
                	<a href="/peach"><img src='/static/img/offer/1.jpg' width='210' height='100'/></a> 
                </div>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="navCon-menu fl">
	  <nph:categories resultVar="navCategories" parentCategory="首页导航" maxResults="10" />
      <ul>
		<li th:each="category : ${navCategories}" th:unless="${#strings.isEmpty(category.url)}">
            <a th:href="@{${category.url}}" th:class="${categoryStat.first}? ''" th:text="${category.name}"></a>
        </li>
      </ul>
    </div>
  </div>
</div>