<footer class="group">
    <div id="blc_brand">
        <a href="http://www.globalph.cn">
            <img src="/static/img/globalph-ba.gif" alt="品荟-专著于水果直销" />
            <h4><span>&copy;2014品荟版权所有 </span></h4>
        </a>
    </div>
    <script src="/static/js/lib/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="/static/js/nav/global.js" type="text/javascript"></script>
	<script src="/static/js/nav/head.js" type="text/javascript"></script>
	<script src="/static/js/zoom/base.js" type="text/javascript"></script>
	<script src="/static/js/zoom/lib.js" type="text/javascript"></script>
	<script src="/static/js/zoom/zzsc.js" type="text/javascript"></script>
	<script src="/static/js/zoom/jquery.marquee.min.js" type="text/javascript"></script>
    <script src="/static/js/plugins.js" type="text/javascript"></script>
	<script src="/static/js/libs/jquery.MetaData.js" type="text/javascript"></script>
	<script src="/static/js/libs/jquery.rating.pack.js" type="text/javascript"></script>
	<script src="/static/js/libs/jquery.dotdotdot-1.5.1.js" type="text/javascript"></script>
    <script src="/static/js/BLC.js" type="text/javascript"></script>
	<script src="/static/js/heatClinic.js" type="text/javascript"></script>
	<script src="/static/js/cartOperations.js" type="text/javascript"></script>
	<script src="/static/js/checkoutOperations.js" type="text/javascript"></script>
	<script src="/static/js/globalOnReady.js" type="text/javascript"></script>
	<script src="/static/js/communitySelectedOperations.js" type="text/javascript"></script>
	<script src="/static/js/bannersRoll.js" type="text/javascript"></script>
	<script src="/static/js/manageAccountOperations.js" type="text/javascript"></script>
	<script src="/static/js/reviewOperations.js" type="text/javascript"></script>
	
</footer>
