<footer>
    <script src="/static/js/lib/jquery-1.9.1.js"></script>
    <nph_admin:admin_user resultVar="adminUser"/>
    <script th:with="adminUser=${adminUser}" th:inline="javascript">
        var BLC_USER_PREFS = [[${adminUser.additionalFields}]];
    </script>
    <script src="/static/js/admin/lib/plugins/jquery.cookie.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.event.move.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.event.swipe.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.foundation.accordion.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.foundation.alerts.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.foundation.buttons.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.foundation.clearing.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.foundation.joyride.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.foundation.magellan.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.foundation.mediaQueryToggle.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.foundation.navigation.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.foundation.orbit.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.foundation.tabs.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.foundation.tooltips.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.foundation.topbar.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.placeholder.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.mousewheel.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.mCustomScrollbar.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.ba-dotimeout.js" type="text/javascript"></script>
	<script src="/static/js/lib/plugins/jquery-ui-1.10.2.custom.js" type="text/javascript"></script>
	<script src="/static/js/lib/plugins/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.iframe-transport.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.ui.widget.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/jquery.autosize.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/spectrum.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/redactor.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/bootstrap.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/blc-conditions-builder.js" type="text/javascript"></script>
	<script src="/static/js/admin/lib/plugins/typeahead.bundle.js" type="text/javascript"></script>
	<script src="/static/js/BLC.js" type="text/javascript"></script>
	<script src="/static/js/blc-dates.js" type="text/javascript"></script>
	<script src="/static/js/admin/blc-admin.js" type="text/javascript"></script>
	<script src="/static/js/admin/blc-admin-history.js" type="text/javascript"></script>
	<script src="/static/js/admin/blc-admin-breadcrumb.js" type="text/javascript"></script>
	<script src="/static/js/admin/ui/dates.js" type="text/javascript"></script>
	<script src="/static/js/admin/ui/messages_en.js" type="text/javascript"></script>
	<script src="/static/js/admin/ui/accordion.js" type="text/javascript"></script>
	<script src="/static/js/admin/ui/modal.js" type="text/javascript"></script>
	<script src="/static/js/admin/ui/imagezoom.js" type="text/javascript"></script>
	<script src="/static/js/admin/components/entityForm.js" type="text/javascript"></script>
	<script src="/static/js/admin/components/translations.js" type="text/javascript"></script>
	<script src="/static/js/admin/components/assetSelector.js" type="text/javascript"></script>
	<script src="/static/js/admin/components/ruleBuilder-operators.js" type="text/javascript"></script>
	<script src="/static/js/admin/components/ruleBuilder-options.js" type="text/javascript"></script>
	<script src="/static/js/admin/components/ruleBuilder.js" type="text/javascript"></script>
	<script src="/static/js/admin/components/listGrid.js" type="text/javascript"></script>
	<script src="/static/js/admin/components/listGrid-filter.js" type="text/javascript"></script>
	<script src="/static/js/admin/components/listGrid-paginate.js" type="text/javascript"></script>
	<script src="/static/js/admin/components/typeahead.js" type="text/javascript"></script>
	<script src="/static/js/admin/blc-admin-init.js" type="text/javascript"></script>
</footer>
