<div th:fragment="payment-method-form">

    <div class="payment_info"
         th:unless="${showAllPaymentMethods}">
        <h3><span th:text="#{cart.paymentMethod}">Payment Method</span></h3>

        <ul th:if="${orderContainsThirdPartyPayment}" id="payment_methods">
            <li><img th:src="@{/img/payment/paypal-curved-32px.png}"/></li>
        </ul>

        <div class="form100">
            <nph:form th:action="@{/checkout/complete}"
                      method="POST" id="complete_checkout"
                      novalidate="novalidate">
                <input type="submit" class="medium red" th:value="#{cart.completOrder}" />
            </nph:form>
        </div>

    </div>

    <div class="payment_info"
            th:if="${showAllPaymentMethods}">
        <h3><span>支付方式</span></h3>

        <dl id="paymentOptions">
            <dt>
                <input type="radio" name="paymentMethod" value="cod" id="paymentMethod_cod" />
                <label for="paymentMethod_cod"><span>货到付款</span></label>
            </dt>
            <dd>
                <div>
                    <nph:form th:action="@{/checkout/cod/complete}"
                              method="POST" id="complete_checkout"
                              novalidate="novalidate">
                        <input type="submit" class="medium red" th:value="订单完成" />
                    </nph:form>
                </div>
            </dd>
        </dl>

    </div>

</div>